<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.erayzx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/geospot"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="net.erayzx.old.Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.erayzx.Register"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.erayzx.Registered"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.erayzx.Main"
            android:label="Learn2Crack USER PANEL" >
        </activity>
        <activity
            android:name="net.erayzx.old.PasswordReset"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.erayzx.ChangePassword"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.erayzx.tab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.erayzx.cam.CameraController"
            android:label="Cam" >
        </activity>
        <activity
            android:name="net.erayzx.tab.SignedInTab"
            android:label="@string/title_activity_signed_in_tab"
            android:parentActivityName="android.support.v7.app.ActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.ActionBarActivity" />
        </activity>
    </application>

</manifest>